<script src="{{ url_for('static', filename='js/api.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/library.js') }}"></script>
<script src="{{ url_for('static', filename='js/editor.js') }}"></script>
<script src="{{ url_for('static', filename='js/clips.js') }}"></script>
<script src="{{ url_for('static', filename='js/publish.js') }}"></script>
<script src="{{ url_for('static', filename='js/logs.js') }}"></script>
