<!DOCTYPE html>
<html lang="en">
<head>
{% include "partials/_head.html" %}
</head>
<body class="bg-void text-ink-1 font-display antialiased text-sm">
<div class="min-h-screen flex flex-col">
{% include "partials/_header.html" %}
{% include "partials/_view_library.html" %}
{% include "partials/_view_editor.html" %}
{% include "partials/_view_clips.html" %}
{% include "partials/_view_publish.html" %}
</div>

{% include "partials/_publish_modal.html" %}
{% include "partials/_scripts.html" %}
</body>
</html>